/* .button-group a {
    color: red;
} */

.wd-button ul {
  list-style-type: none;
  padding: 20px 0px 0px 0px;
}

.wd-button ul li button {
  width: 250px;
  text-align: left;
}

.wd-button ul li button svg {
  padding-left: 2px;
  padding-right: 3px;
}

.link-red a {
  color: red;
  text-decoration: none;
}

.coming-up-list {
  list-style-type: none;
  padding: 0px;
}
